@page
@model AutoEscola.Pages.Aluno.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Aluno.AlunoID" />
                    <div class="form-group">
                        <label asp-for="Aluno.NomeAluno" class="control-label"></label>
                        <input asp-for="Aluno.NomeAluno" class="form-control" />
                        <span asp-validation-for="Aluno.NomeAluno" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Aluno.Sexo" class="control-label"></label>
                        <input asp-for="Aluno.Sexo" class="form-control" />
                        <span asp-validation-for="Aluno.Sexo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Aluno.DataAluno" class="control-label"></label>
                        <input asp-for="Aluno.DataAluno" class="form-control" />
                        <span asp-validation-for="Aluno.DataAluno" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Aluno.Email" class="control-label"></label>
                        <input asp-for="Aluno.Email" class="form-control" />
                        <span asp-validation-for="Aluno.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Aluno.Cpf" class="control-label"></label>
                        <input asp-for="Aluno.Cpf" class="form-control" />
                        <span asp-validation-for="Aluno.Cpf" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Aluno.Endereco" class="control-label"></label>
                        <input asp-for="Aluno.Endereco" class="form-control" />
                        <span asp-validation-for="Aluno.Endereco" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Aluno.Bairro" class="control-label"></label>
                        <input asp-for="Aluno.Bairro" class="form-control" />
                        <span asp-validation-for="Aluno.Bairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Aluno.Cidade" class="control-label"></label>
                        <input asp-for="Aluno.Cidade" class="form-control" />
                        <span asp-validation-for="Aluno.Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Aluno.Cep" class="control-label"></label>
                        <input asp-for="Aluno.Cep" class="form-control" />
                        <span asp-validation-for="Aluno.Cep" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Aluno.Estado" class="control-label"></label>
                        <input asp-for="Aluno.Estado" class="form-control" />
                        <span asp-validation-for="Aluno.Estado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Aluno.Telefone" class="control-label"></label>
                        <input asp-for="Aluno.Telefone" class="form-control" />
                        <span asp-validation-for="Aluno.Telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Aluno.Celular" class="control-label"></label>
                        <input asp-for="Aluno.Celular" class="form-control" />
                        <span asp-validation-for="Aluno.Celular" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div>
                        <a class="btn btn-primary" asp-page="./Index">Voltar</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
